@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body.scrollDis {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper * {
  font-family: Rubik;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Rubik";
}
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
.wrapper p,
.wrapper ul,
.wrapper ol,
.wrapper span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.header {
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  background: transparent;
}
.header::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
}
.header:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
}
.header:hover::after {
  opacity: 0.8;
}
.header.hide {
  top: -100px;
}
.header.searchOpen.burgerOpen .header_mobile_search {
  display: flex;
}
.header.searchOpen .header_search_but {
  filter: invert(0);
}
.header.searchOpen .header_menu {
  opacity: 0;
}
.header.searchOpen .header_mobileButs {
  opacity: 0;
}
.header.scrolled {
  background: white;
  border-bottom: 1px solid #e5e5e5;
}
.header.scrolled:not(.burgerOpen) .header_bg.bg_search {
  background: #ffffff;
}
.header.scrolled:not(.burgerOpen) .header_search_wrapper:before {
  background: #000000;
}
.header.scrolled:not(.burgerOpen) .header_search_but {
  filter: invert(1);
}
.header.scrolled:not(.burgerOpen) .header_search_input_close {
  filter: invert(1);
}
.header.scrolled:not(.burgerOpen) .header_mobileButs {
  filter: invert(1);
}
.header.scrolled .header_menu_item {
  color: #000000;
}
.header.scrolled:before {
  opacity: 0;
}
.header.scrolled:after {
  opacity: 0;
}
.header.scrolled:hover:before {
  opacity: 0;
}
.header.scrolled:hover:after {
  opacity: 0;
}
.header.burgerOpen:before {
  opacity: 0;
}
.header.burgerOpen:after {
  opacity: 0;
}
.header.burgerOpen:hover:before {
  opacity: 0;
}
.header.burgerOpen:hover:after {
  opacity: 0;
}
.header.burgerOpen .header_mobile_burger span {
  background: transparent;
}
.header.burgerOpen .header_mobile_burger span:before,
.header.burgerOpen .header_mobile_burger span:after {
  transform: rotate(45deg) translate(0, -50%);
  bottom: auto;
  top: 50%;
  transform-origin: top;
}
.header.burgerOpen .header_mobile_burger span:after {
  transform: rotate(-45deg) translate(0, -50%);
}
.header.burgerOpen .header_mobileButs {
  filter: invert(0);
}
.header.burgerOpen .header_search_wrapper.open .header_search_input_close {
  display: none;
}
.header_logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 40px;
  margin-left: 40px;
  background-image: url(../images/logo.svg);
  transition: opacity 0.3s;
  position: relative;
  z-index: 2;
}
.header_logo:hover {
  opacity: 0.8;
}
.header_menu {
  display: flex;
  align-items: center;
  transition: all 1s;
}
.header_menu_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}
.header_menu_item.active {
  color: #ffffff;
  font-weight: 500;
}
.header_menu_item:hover {
  color: #ffffff;
}
.header_search_wrapper {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  display: flex;
  transition: all 1s;
}
.header_search_wrapper::before {
  content: '';
  position: absolute;
  bottom: -10px;
  background: white;
  transition: all 1s;
  height: 1px;
  right: 0;
  opacity: 0;
  width: 100%;
}
.header_search_wrapper.open label {
  display: block;
}
.header_search_wrapper.open:before {
  opacity: 1;
}
.header_search_wrapper.open .header_search_input {
  width: 470px;
}
.header_search_wrapper.open .header_search_input_close {
  display: block;
}
.header_search_input {
  width: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-left: 0;
  background-color: transparent;
  transition: width 1s;
  padding-left: 14px;
}
.header_search_input_wrapper {
  position: relative;
}
.header_search_input_wrapper label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 17px;
  top: 4px;
  opacity: 0;
  display: none;
  transition: opacity 1s;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.header_search_input_wrapper label.active {
  color: #ffffff;
  font-weight: 500;
}
.header_search_input_wrapper label:hover {
  color: #ffffff;
}
.header_search_input_close {
  width: 16px;
  height: 16px;
  position: absolute;
  display: none;
  opacity: 1;
  top: 4px;
  cursor: pointer;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/cross.svg);
}
.header_search_input:focus + label,
.header_search_input:valid + label {
  opacity: 0;
}
.header_search_but {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../images/search.svg);
  transition: 0.3s ease-in-out;
}
.header_bg {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.header_bg.bg_search {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.header_bg.bg_burger {
  background: #292929;
  opacity: 0;
  z-index: -1;
}
.header_bg.bg_burger:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  height: 1px;
  background: #3a3a3a;
}
.header_mobileButs {
  display: none;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.header_mobile_call {
  margin-right: 30px;
}
.header_mobile_burger {
  width: 26px;
  height: 20px;
  display: flex;
  align-items: center;
}
.header_mobile_burger span {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.header_mobile_burger span .line {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.header_mobile_burger span::before {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.3s;
}
.header_mobile_burger span:after {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  transition: all 0.3s;
}
.header_mobile_search {
  opacity: 0;
  display: none;
  width: 13px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  align-items: center;
  transform: translate(0, -50%);
  z-index: 2;
}
.header_mobile_search span .line {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  transform-origin: right;
}
.header_mobile_search span::before {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  transform-origin: right;
  content: '';
  position: absolute;
  transition: all 0.3s;
}
.header_mobile_search span:after {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  transform-origin: right;
  content: '';
  position: absolute;
  transition: all 0.3s;
  transform: translate(0, -50%) rotate(45deg);
}
.header_mobileMenu {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
}
.header_mobileMenu.open {
  display: flex;
}
.header_mobileMenu_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 20px;
  padding-top: 20px;
}
.header_mobileMenu_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
  opacity: 0;
  margin-right: -25px;
  transition: all 0.3s ease-in-out;
}
.header_mobileMenu_item.active {
  color: #ffffff;
  font-weight: 500;
}
.header_mobileMenu_item:hover {
  color: #ffffff;
}
.header_mobileMenu_item.faded {
  opacity: 1;
  margin-right: 0;
}
.header_mobileMenu_item.language {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_mobileMenu_lang_title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_mobileMenu_lang_title::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/language.svg);
}
.header_mobileMenu_lang_wrapper {
  width: 100%;
  transition: all 0.5s;
  padding-top: 15px;
  margin-top: 15px;
  position: relative;
}
.header_mobileMenu_lang_wrapper:before {
  content: '';
  width: 0;
  display: block;
  transition: all 1s;
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  background: #3a3a3a;
  margin-right: -20px;
}
.header_mobileMenu_lang_wrapper.open:before {
  width: 100vw;
}
.header_mobileMenu_lang_list {
  display: flex;
  justify-content: end;
}
.header_mobileMenu_lang_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
  transition: all 0.3s ease-in-out;
  transition: none;
}
.header_mobileMenu_lang_item.active {
  color: #ffffff;
  font-weight: 500;
}
.header_mobileMenu_lang_item:hover {
  color: #ffffff;
}
.header_mobileMenu_lang_item:nth-child(n + 2) {
  margin-left: 30px;
}
.header .white_links_active {
  transition: all 0.3s ease-in-out;
}
.header .white_links_active.active {
  color: #ffffff;
  font-weight: 500;
}
.header .white_links_active:hover {
  color: #ffffff;
}
.page {
  min-height: 100vh;
}
.page .fpSlider_wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
.page .fpSlider_wrapper .swiper-pagination {
  bottom: 40px;
  z-index: 10;
  width: 100%;
}
.page .fpSlider_wrapper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 0;
  height: 3px;
  width: 30px;
  margin: 0 6px;
  opacity: 1;
  overflow: hidden;
  position: relative;
}
.page .fpSlider_wrapper .swiper-pagination-bullet:before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 100%;
  box-shadow: 0 0 0 3px white;
}
.page .fpSlider_wrapper .swiper-pagination-bullet-active:before {
  opacity: 1;
  animation: widthbullet 9.5s linear;
}
@keyframes widthbullet {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.page .fpSlider_item {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.page .fpSlider_item_bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page .fpSlider_item_bg:before {
  content: '';
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.page .fpSlider_item_img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .fpSlider_labels {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 50vw;
  overflow: visible;
}
.page .fpSlider_labels_item_text {
  max-width: 613px;
}
.page .fpSlider_labels_item_text_name {
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 133%;
  color: #ffffff;
}
.page .fpSlider_labels_item_text_title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
.page .fpSlider_labels .swiper-wrapper {
  transition-timing-function: ease-in-out;
}
.page .fpSlider_labels .swiper-slide {
  transition: opacity 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.99);
  /* opacity: 0;
          
          &.swiper-slide-active{
            opacity: 1;
          } */
}
.page .fpSlider_moute {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  align-items: center;
  z-index: 3;
  margin-right: 40px;
  cursor: pointer;
  display: flex;
  order: 0;
}
.page .fpSlider_moute::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/volume.svg);
}
.page .fpSlider_moute:after {
  content: '';
  display: none;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  order: -1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/moute.svg);
}
.page .fpSlider_moute.active:before {
  display: none;
}
.page .fpSlider_moute.active:after {
  display: block;
}
.page .fpSlider_botContent {
  position: absolute;
  z-index: 11;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
}
.page .fpSlider_botContent_but {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23.5px;
  height: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.page .fpSlider_botContent_but:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.page .fpSlider_botContent_but::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/language.svg);
}
.page .fpSlider .swiper-wrapper {
  transition-timing-function: "cubic-bezier(.64,.01,.43,.99)";
}
.page .fpSlider .swiper-button-prev,
.page .fpSlider .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  width: 17px;
  height: 31px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 30px;
  position: absolute;
  padding: 0;
  color: transparent;
  overflow: hidden;
  z-index: 2;
  background: none;
  cursor: pointer;
}
.page .fpSlider .swiper-button-prev::before,
.page .fpSlider .swiper-button-next::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../images/str_left_white.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .fpSlider .swiper-button-next {
  left: auto;
  right: 30px;
  transform: rotate(180deg);
}
.page .textAbout {
  padding: 110px 0;
  margin-bottom: 70px;
  background-image: url(../images/bg_about.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.page .textAbout_row {
  display: flex;
  justify-content: space-between;
}
.page .textAbout_col {
  flex-basis: calc(50% - 50px);
}
.page .textAbout h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 170%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 154%;
  margin-bottom: 54px;
  color: #292929;
}
.page .textAbout p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 190%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout ul {
  list-style: none;
}
.page .textAbout ul li {
  font-style: normal;
  align-items: baseline;
  display: flex;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout ul li:before {
  margin-right: 20px;
  content: '';
  display: inline-block;
  border-radius: 50%;
  min-width: 10px;
  width: 10px;
  height: 10px;
  background: #292929;
}
.page .projects_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}
.page .projects_item {
  width: 50%;
  max-height: 384px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  transition: transform 0.9s ease-in-out, opacity 0.9s;
}
.page .projects_item:nth-child(2n + 1) {
  border-right: 1px solid #000000;
}
.page .projects_item:hover .projects_item_img {
  transform: translate3d(-50%, -50%, 0) scale(1.05);
}
.page .projects_item.is-hidden {
  opacity: 0;
  transform: translate(0, 35%);
}
.page .projects_item.is-hidden:before {
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2;
}
.page .projects_item.is-loaded:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 30%, transparent 80%);
}
.page .projects_item.is-loaded .projects_item_img {
  opacity: 1;
}
.page .projects_item.is-proccess .loadMonitor {
  opacity: 0;
  will-change: opacity;
  content: '';
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 75;
  -webkit-animation: loaderAnimation 0.8s infinite linear;
  animation: loaderAnimation 0.8s infinite linear;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23b2b2b2' stroke-width='1.5px' /%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 57.123'/%3E %3C/svg%3E");
}
.page .projects_item.is-proccess .loadMonitor.show {
  opacity: 1;
}
.page .projects_item_spacer {
  width: 100%;
  padding-top: 56.24082232%;
}
.page .projects_item_loadBg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  filter: contrast(100%) brightness(100%) saturate(0.3) sepia(5%);
}
.page .projects_item_img {
  width: auto;
  opacity: 0;
  height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.01);
  transition: transform 1.5s ease-out, opacity 1.5s;
}
.page .projects_item_content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
}
.page .projects_item_content_wrapper {
  margin: 0 40px 25px;
}
.page .projects_item_content_title {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  color: #ffffff;
}
.page .projects_item_content_sub {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 10px;
}
.page .container {
  width: 1450px;
  margin: auto;
}
.page .page_bar {
  margin-top: 100px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .page_bar_title {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 217%;
  color: #292929;
}
.page .fpProject {
  height: 73vh;
  margin-bottom: 100px;
  position: relative;
}
.page .fpProject_text {
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 4;
  max-width: 60%;
}
.page .fpProject_text_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 133%;
  color: #ffffff;
}
.page .fpProject_text_sub {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}
.page .fpProject_img {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 2;
}
.page .fpProject_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.page .fpProject_content.is-hidden {
  opacity: 0;
}
.page .fpProject_content.is-loaded img {
  opacity: 1;
}
.page .fpProject_content.is-proccess .loadMonitor {
  opacity: 0;
  will-change: opacity;
  content: '';
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 75;
  -webkit-animation: loaderAnimation 0.8s infinite linear;
  animation: loaderAnimation 0.8s infinite linear;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23b2b2b2' stroke-width='1.5px' /%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 57.123'/%3E %3C/svg%3E");
}
.page .fpProject_content.is-proccess .loadMonitor.show {
  opacity: 1;
}
.page .fpProject_content img {
  height: 100%;
  width: auto;
  min-width: 100%;
}
.page .fpProject_gradient {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.24;
  z-index: 3;
  transition: opacity 1s;
  background: rgba(0, 0, 0);
}
.page .fpProject_spacer {
  width: 100%;
  padding-top: 37.29050279%;
}
.page .fpProject_loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-filter: contrast(100%) brightness(100%) saturate(0.3) sepia(5%);
  filter: contrast(100%) brightness(100%) saturate(0.3) sepia(5%);
}
.page .fpProject_types {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.page .fpProject_types_item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23.5px;
  padding: 10px 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.page .fpProject_types_item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.page .fpProject_types_item::nth-child(n + 2) {
  margin-left: 6px;
}
.page .fpPhoto {
  text-align: center;
  position: relative;
}
.page .fpPhoto_box.open .mask {
  left: 100%;
}
.page .fpPhoto_box.open .mask.left {
  left: auto;
  right: 100%;
}
.page .fpPhoto_box .mask {
  width: 20%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 90%;
  transition: all 2.5s ease-in-out;
}
.page .fpPhoto_box .mask.left {
  left: auto;
  right: 90%;
}
.page .fpPhoto_box img {
  width: 100%;
}
.page .fpPhoto .default-btn {
  margin-top: 30px;
  margin-bottom: 60px;
}
.page .sItems {
  margin-bottom: 90px;
}
.page .sItems_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 156%;
  color: #292929;
  margin-bottom: 80px;
}
.page .sItems_list {
  display: flex;
  flex-wrap: wrap;
}
.page .sItems_list .slick-list {
  opacity: 1 !important;
  transform: none !important;
}
.page .sItems_list .slick-dots {
  opacity: 1 !important;
  transform: none !important;
  display: flex;
  margin: auto;
  margin-top: 10px;
}
.page .sItems_list .slick-dots li {
  overflow: hidden;
  width: 16px;
  height: 3px;
  margin-right: 8px;
  background: #e5e5e5;
  transition: 0.3s ease-in-out;
  display: block;
  color: transparent;
  cursor: pointer;
}
.page .sItems_list .slick-dots li:last-child {
  margin-right: 0;
}
.page .sItems_list .slick-dots li.slick-active {
  background: #292929;
}
.page .sItems_list .slick-dots li button {
  display: none;
}
.page .sItems_item {
  flex-basis: calc((100% - 40px)/3);
  margin-right: 20px;
  margin-bottom: 20px;
}
.page .sItems_item:nth-child(3n) {
  margin-right: 0;
}
.page .sItems_item:hover .sItems_text {
  background: #ABA9A5;
}
.page .sItems_img {
  overflow: hidden;
  padding-top: 55.035%;
  position: relative;
}
.page .sItems_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-width: 100%;
  width: auto;
}
.page .sItems_text {
  height: 74px;
  padding: 0 28px;
  display: flex;
  align-items: center;
  background: #bfbdb7;
  transition: 0.3s ease-in-out;
}
.page .sItems_name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 141%;
  color: #ffffff;
}
.page .bItems {
  text-align: center;
}
.page .bItems_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.page .bItems_item {
  display: block;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
.page .bItems_item:hover .bItems_text {
  background: #ABA9A5;
}
.page .bItems_img {
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}
.page .bItems_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}
.page .bItems_text {
  background: #bfbdb7;
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 30px;
  transition: 0.3s ease-in-out;
}
.page .bItems_title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 51px;
  color: #ffffff;
}
.page .bItems .default-btn {
  margin-bottom: 90px;
}
.page .text {
  margin-bottom: 90px;
}
.page .text p {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 188%;
  color: #292929;
  margin-bottom: 32px;
}
.page .map {
  position: relative;
  overflow: hidden;
  margin-bottom: 90px;
}
.page .map_content {
  width: 35%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 80px;
  padding-right: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  align-items: flex-start;
  left: 0;
  z-index: 2;
}
.page .map_spacer {
  padding-top: 56.22254758%;
  width: 100%;
}
.page .map_text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 161%;
  color: #ffffff;
  margin-bottom: 140px;
}
.page .map_but {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 23.5px;
  font-family: Rubik;
  font-style: normal;
  display: inline-block;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.page .map_bg {
  position: relative;
}
.page .map_bg #map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page .infSlider_menu {
  display: flex;
  padding-bottom: 25px;
  justify-content: center;
  width: min-content;
  margin: auto;
  position: relative;
}
.page .infSlider_menu_item {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #9a9a9a;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 40px;
}
.page .infSlider_menu_item:last-child {
  margin-right: 0;
}
.page .infSlider_menu_item.active {
  color: #292929;
  cursor: default;
}
.page .infSlider_menu_item:hover {
  color: #292929;
}
.page .infSlider_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #dedede;
  width: 100%;
}
.page .infSlider_bar {
  background: #292929;
  position: relative;
  height: 3px;
  width: 100px;
  transition: all 0.5s linear;
}
.page .infSlider_list {
  margin-bottom: 90px;
}
.page .infSlider_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page .infSlider_option {
  border-bottom: 1px solid #dedede;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  flex-basis: calc(50% - 10px);
  align-items: center;
}
.page .infSlider_option_name {
  flex-basis: 50%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  padding-right: 10px;
}
.page .infSlider_option_value {
  flex-basis: 50%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  color: #292929;
}
.footer {
  padding: 0 40px;
  padding-top: 100px;
  display: flex;
  border-top: 1px solid #e5e5e5;
}
.footer_col {
  flex-basis: 25%;
}
.footer_col:nth-child(n + 2) {
  padding-left: 70px;
}
.footer_title {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 30px;
  display: block;
}
.footer_title + .footer_title {
  margin-bottom: 56px;
}
.footer_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #292929;
  margin-bottom: 30px;
  display: block;
  transition: 0.3s ease-in-out;
}
.footer_link + .footer_title {
  margin-top: 65px;
}
.footer_link:hover {
  color: #000;
}
.footer_adress {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 118%;
  color: #292929;
  margin-bottom: 39px;
}
.footer_phone {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: block;
  line-height: 118%;
  color: #292929;
  margin-bottom: 77px;
}
.footer_inf {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 145%;
  color: #292929;
  margin-bottom: 77px;
}
.footer_inf span {
  font-weight: bold;
}
.footer_copy {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #9a9a9a;
}
.footer_social {
  display: flex;
  margin-bottom: 77px;
}
.footer_social_item {
  border: 1px solid #e5e5e5;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.footer_social_item:nth-child(n + 2) {
  margin-left: 18px;
}
.footer_social_item:hover {
  background: #ebebeb;
}
.inner {
  max-width: 1272px;
  margin: auto;
}
.inner_big {
  margin: 0 40px;
}
.inner .box {
  margin: 0 160px;
}
.bg_def {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.scrollanim {
  transition: all 1s ease-in-out;
}
.scrollanimChild > * {
  transition: all 1s ease-in-out;
}
.scrollanimChild.fadeUp > * {
  opacity: 0;
  transform: translate(0, 50px);
}
.scrollanimChild.fadeUp > *.animed {
  opacity: 1;
  transform: translate(0, 0);
}
.scrollanim.fadeUp {
  opacity: 0;
  transform: translate(0, 50px);
}
.scrollanim.fadeUp.animed {
  opacity: 1;
  transform: translate(0, 0);
}
.default-btn {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 47px;
  display: inline-block;
  border-radius: 23.5px;
  height: 47px;
  padding: 0 27px;
  transition: all 0.3s ease-in-out;
}
.default-btn.btn-gray {
  color: #292929;
  background: #ebebeb;
}
.default-btn.btn-gray:hover {
  background: #dddddd;
}
.preloaders .preloader {
  opacity: 0;
  will-change: opacity;
  content: '';
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 75;
  -webkit-animation: loaderAnimation 0.8s infinite linear;
  animation: loaderAnimation 0.8s infinite linear;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40' height='40' viewBox='0 0 40 40'%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23b2b2b2' stroke-width='1.5px' /%3E %3Ccircle cx='20' cy='20' r='19' fill='none' stroke='%23000000' stroke-width='1px' stroke-linecap='round' stroke-dashoffset='95' stroke-dasharray='16, 57.123'/%3E %3C/svg%3E");
}
@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.icon-fb {
  width: 11px;
  height: 23px;
  background-image: url(../images/fb.svg);
}
.icon-vk {
  width: 26px;
  height: 15px;
  background-image: url(../images/vk.svg);
}
.icon-inst {
  width: 19px;
  height: 19px;
  background-image: url(../images/inst.svg);
}
.icon-pent {
  width: 15px;
  height: 19px;
  background-image: url(../images/pent.svg);
}
.icon-beh {
  width: 20px;
  height: 13px;
  background-image: url(../images/beh.svg);
}
.icon-phone {
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.svg);
}
@media (max-width: 1500px) {
  .page .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1400px) {
  .header_search_wrapper {
    left: auto;
    right: 700px;
    transform: translate(50%, 0);
  }
  .header_search_wrapper.open {
    right: 50%;
  }
}
@media (max-width: 1300px) {
  .page .textAbout_col {
    flex-basis: calc(50% - 25px);
  }
  .page .fpProject_text_title {
    font-size: 30px;
    line-height: 34px;
  }
  .page .map_content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page .map_text {
    margin-bottom: 80px;
  }
  .inner {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 1024px) {
  .wrapper.only-fp {
    height: 100vh;
    overflow: hidden;
  }
  .header {
    height: 62px;
  }
  .header_logo {
    height: 22px;
    width: 63px;
    margin-left: 20px;
  }
  .header_menu {
    display: none;
  }
  .header.burgerOpen .header_search_wrapper {
    display: flex;
  }
  .header_search_but {
    opacity: 0;
  }
  .header_search_input_close {
    width: 20px;
    height: 20px;
    top: -40px;
  }
  .header_search_wrapper {
    display: none;
    top: 78px;
    right: 20px;
  }
  .header_search_wrapper.open {
    right: 20px;
    transform: none;
  }
  .header_search_wrapper.open .header_search_but {
    opacity: 1;
  }
  .header_search_wrapper.open .header_search_input {
    width: calc(100vw - 57px);
  }
  .header_mobileButs {
    display: flex;
  }
  .footer {
    flex-wrap: wrap;
    padding: 0 20px;
    border-top: 0;
  }
  .footer_title {
    border-top: 1px solid #e5e5e5;
    padding: 18px 0;
    margin-bottom: 0;
    cursor: pointer;
  }
  .footer_title + .footer_title {
    margin-bottom: 10px;
  }
  .footer_adress {
    margin-bottom: 33px;
  }
  .footer_phone {
    margin-bottom: 33px;
  }
  .footer_social {
    margin-bottom: 33px;
  }
  .footer_col {
    flex-basis: 100%;
  }
  .footer_col:nth-child(n + 2) {
    padding-left: 0;
  }
  .footer_col:last-child .footer_title:nth-child(2) {
    border-bottom: 1px solid #e5e5e5;
  }
  .footer_copy {
    padding-bottom: 20px;
  }
  .footer_menu_wrapper {
    height: 50px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .footer_menu_wrapper:before {
    position: absolute;
    content: '';
    width: 11px;
    height: 6px;
    display: block;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/srt_dropDown.svg);
    transition: 0.3s ease-in-out;
    top: 23px;
  }
  .footer_menu_wrapper.active:before {
    transform: rotate(180deg);
  }
  .footer_link {
    font-size: 14px;
    line-height: 250%;
    color: #292929;
    margin-bottom: 0;
  }
  .footer_link:last-child {
    padding-bottom: 20px;
  }
  .footer_inf {
    display: none;
  }
  .page .fpSlider_botContent {
    display: none;
  }
  .page .fpSlider_labels {
    width: 100%;
    left: 20px;
    padding-right: 40px;
  }
  .page .fpSlider_labels_item_text_title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .page .fpSlider_labels_item_text_name {
    font-size: 24px;
  }
  .page .fpSlider_wrapper .swiper-pagination {
    bottom: 20px;
  }
  .page .page_bar {
    margin-top: 60px;
    padding: 30px 20px;
  }
  .page .fpProject {
    height: auto;
    margin-bottom: 0;
  }
  .page .fpProject_img {
    height: 500px;
    margin-bottom: 30px;
  }
  .page .fpProject_text {
    max-width: none;
    left: 20px;
    bottom: 20px;
  }
  .page .fpProject_types {
    margin: 0 20px 20px;
    padding: 0 0 20px;
    position: unset;
  }
  .page .fpProject_types_item {
    background: #ebebeb;
    color: #292929;
  }
  .page .fpProject_types_item:hover {
    background: #d9d9d9;
    color: #000;
  }
  .page .fpProject_text_sub {
    font-size: 16px;
    line-height: 18px;
  }
  .page .fpProject_text_title {
    font-size: 25px;
    line-height: 28px;
  }
  .page .fpPhoto_down {
    margin-bottom: 30px;
  }
  .page .sItems {
    margin-bottom: 37px;
  }
  .page .sItems_title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 60px;
  }
  .page .sItems_item {
    flex-basis: calc((100% - 10px)/2);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .page .sItems_item:nth-child(3n) {
    margin-right: 10px;
  }
  .page .sItems_item:nth-child(2n) {
    margin-right: 0;
  }
  .page .text {
    margin-bottom: 40px;
  }
  .page .text p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 28px;
  }
  .page .map {
    margin-bottom: 40px;
  }
  .page .map_content {
    position: unset;
    background: none;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }
  .page .map_text {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 144%;
    color: #292929;
  }
  .page .map_but {
    background: #ebebeb;
    color: #292929;
  }
  .inner_big {
    width: 100%;
    margin: auto;
  }
  .inner .box {
    margin: 0 80px;
  }
}
@media (max-width: 950px) {
  .page .textAbout {
    padding: 60px 0;
  }
  .page .textAbout_row {
    flex-wrap: wrap;
  }
  .page .textAbout_col {
    flex-basis: 100%;
  }
  .page .projects_item_content_title {
    font-size: 19px;
    line-height: 23px;
  }
  .page .projects_item_content_sub {
    font-size: 12px;
    line-height: 14px;
  }
  .inner .box {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .page .projects_item {
    width: 100%;
    max-height: none;
  }
  .page .page_bar {
    flex-wrap: wrap;
  }
  .page .page_bar_title {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 20px;
    width: 100%;
  }
  .page .page_bar a {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
  }
  .page .page .text p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 23px;
  }
  .page .fpProject_text_sub {
    font-size: 12px;
    line-height: 14px;
  }
  .page .fpProject_text_title {
    font-size: 19px;
    line-height: 23px;
  }
  .page .bItems_text {
    height: 74px;
  }
  .page .bItems_item {
    flex-basis: 100%;
  }
  .page .bItems_list {
    margin-bottom: 20px;
  }
  .page .bItems_title {
    font-size: 16px;
  }
  .page .bItems .default-btn {
    margin-bottom: 40px;
  }
  .page .infSlider_select {
    height: 40px;
    overflow: hidden;
  }
  .page .infSlider_select.active {
    overflow: visible;
  }
  .page .infSlider_menu {
    width: 100%;
    padding-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .page .infSlider_menu_item {
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .page .infSlider_menu_item.active {
    position: absolute;
    cursor: pointer;
  }
  .page .infSlider_progress {
    bottom: auto;
    top: 37px;
  }
  .page .infSlider_list {
    margin-bottom: 40px;
  }
  .page .infSlider_option {
    padding: 15px 0;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .page .fpSlider .swiper-button-next,
  .page .fpSlider .swiper-button-prev {
    display: none;
  }
  .page .projects_item_content_wrapper {
    margin: 0 18px 18px;
  }
  .page .sItems_title {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .page .sItems_item {
    flex-basis: 100%;
    margin-right: 0;
  }
  .page .sItems_item:nth-child(3n) {
    margin-right: 0;
  }
  .page .map_spacer {
    padding-top: 100%;
  }
  .page .map_text {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .page .infSlider_option {
    flex-basis: 100%;
    padding: 15px 0;
    flex-direction: column;
  }
  .inner_out {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .footer_social_item:nth-child(n + 2) {
    margin-left: 6px;
  }
  .footer_title {
    font-size: 10px;
    line-height: 12px;
  }
  .footer_phone {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_adress {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_link {
    font-size: 10px;
    line-height: 25px;
  }
}
