@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body.scrollDis {
  overflow: hidden;
}
.wrapper {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper * {
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Rubik";
}
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
.wrapper p,
.wrapper ul,
.wrapper ol,
.wrapper span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.header {
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  background: transparent;
}
.header::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
}
.header:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
}
.header:hover::after {
  opacity: 0.8;
}
.header.hide {
  top: -100px;
}
.header.searchOpen .header__search__but {
  filter: invert(0);
}
.header.searchOpen .header__menu {
  opacity: 0;
}
.header.scrolled {
  background: white;
  border-bottom: 1px solid #e5e5e5;
}
.header.scrolled .header__bg.bg_search {
  background: #ffffff;
}
.header.scrolled .header__search__wrapper:before {
  background: #000000;
}
.header.scrolled .header__search__but {
  filter: invert(1);
}
.header.scrolled .header__search__input__close {
  filter: invert(1);
}
.header.scrolled .header__menu__item {
  color: #000000;
}
.header.scrolled .header__mobileButs {
  filter: invert(1);
}
.header.scrolled:before {
  opacity: 0;
}
.header.scrolled:after {
  opacity: 0;
}
.header.scrolled:hover:before {
  opacity: 0;
}
.header.scrolled:hover:after {
  opacity: 0;
}
.header__logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 40px;
  margin-left: 40px;
  background-image: url(../images/logo.svg);
  transition: opacity 0.3s;
  position: relative;
  z-index: 2;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__menu {
  display: flex;
  align-items: center;
  transition: all 1s;
}
.header__menu__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  margin-right: 40px;
}
.header__menu__item.active {
  color: #ffffff;
  font-weight: 500;
}
.header__menu__item:hover {
  color: #ffffff;
}
.header__search__wrapper {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  display: flex;
  transition: all 1s;
}
.header__search__wrapper::before {
  content: '';
  position: absolute;
  bottom: -10px;
  background: white;
  transition: all 1s;
  height: 1px;
  right: 0;
  opacity: 0;
  width: 100%;
}
.header__search__wrapper.open:before {
  opacity: 1;
}
.header__search__wrapper.open .header__search__input {
  width: 470px;
}
.header__search__wrapper.open .header__search__input__close {
  display: block;
}
.header__search__input {
  width: 0;
  padding: 0;
  border: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-left: 0;
  background-color: transparent;
  transition: width 1s;
  padding-left: 14px;
}
.header__search__input__wrapper {
  position: relative;
}
.header__search__input__close {
  width: 16px;
  height: 16px;
  position: absolute;
  display: none;
  opacity: 1;
  top: 4px;
  cursor: pointer;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/cross.svg);
}
.header__search__but {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../images/search.svg);
  transition: 0.3s ease-in-out;
}
.header__bg {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.header__bg.bg_search {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.header__mobileButs {
  display: none;
  margin-right: 40px;
}
.header__mobile__call {
  margin-right: 30px;
}
.header__mobile__burger {
  width: 26px;
  height: 20px;
  display: flex;
  align-items: center;
}
.header__mobile__burger span {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.header__mobile__burger span .line {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.header__mobile__burger span::before {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
}
.header__mobile__burger span:after {
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
}
.header__mobileMenu {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  opacity: 0;
  z-index: 1;
  height: 100vw;
  width: 100vw;
}
.header__mobileMenu.open {
  display: flex;
}
.page .fpSlider__wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
.page .fpSlider__wrapper .swiper-pagination {
  bottom: 40px;
  z-index: 10;
  width: 100%;
}
.page .fpSlider__wrapper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 0;
  height: 3px;
  width: 30px;
  margin: 0 6px;
  opacity: 1;
  overflow: hidden;
  position: relative;
}
.page .fpSlider__wrapper .swiper-pagination-bullet:before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 100%;
  box-shadow: 0 0 0 3px white;
}
.page .fpSlider__wrapper .swiper-pagination-bullet-active:before {
  opacity: 1;
  animation: widthbullet 9.5s linear;
}
@keyframes widthbullet {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.page .fpSlider__item {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.page .fpSlider__item__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page .fpSlider__item__bg:before {
  content: '';
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.page .fpSlider__item__img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .fpSlider__labels {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 50vw;
  overflow: visible;
}
.page .fpSlider__labels__item__text {
  max-width: 613px;
}
.page .fpSlider__labels__item__text__name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 133%;
  color: #ffffff;
}
.page .fpSlider__labels__item__text__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
.page .fpSlider__labels .swiper-wrapper {
  transition-timing-function: ease-in-out;
}
.page .fpSlider__labels .swiper-slide {
  transition: opacity 0.5s cubic-bezier(0.64, 0.01, 0.43, 0.99);
  /* opacity: 0;
          
          &.swiper-slide-active{
            opacity: 1;
          } */
}
.page .fpSlider__moute {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  align-items: center;
  z-index: 3;
  margin-right: 40px;
  cursor: pointer;
  display: flex;
  order: 0;
}
.page .fpSlider__moute::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/volume.svg);
}
.page .fpSlider__moute:after {
  content: '';
  display: none;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  order: -1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/moute.svg);
}
.page .fpSlider__moute.active:before {
  display: none;
}
.page .fpSlider__moute.active:after {
  display: block;
}
.page .fpSlider__botContent {
  position: absolute;
  z-index: 11;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
}
.page .fpSlider__botContent__but {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23.5px;
  height: 35px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.page .fpSlider__botContent__but:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.page .fpSlider__botContent__but::before {
  content: '';
  display: block;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/language.svg);
}
.page .fpSlider .swiper-wrapper {
  transition-timing-function: "cubic-bezier(.64,.01,.43,.99)";
}
.page .fpSlider .swiper-button-prev,
.page .fpSlider .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  width: 17px;
  height: 31px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 30px;
  position: absolute;
  padding: 0;
  color: transparent;
  overflow: hidden;
  z-index: 2;
  background: none;
  cursor: pointer;
}
.page .fpSlider .swiper-button-prev::before,
.page .fpSlider .swiper-button-next::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../images/str_left_white.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page .fpSlider .swiper-button-next {
  left: auto;
  right: 30px;
  transform: rotate(180deg);
}
.page .textAbout {
  padding: 110px 0;
  margin-bottom: 70px;
  background-image: url(../images/bg_about.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.page .textAbout__row {
  display: flex;
  justify-content: space-between;
}
.page .textAbout__col {
  flex-basis: calc(50% - 50px);
}
.page .textAbout h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 170%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 154%;
  margin-bottom: 54px;
  color: #292929;
}
.page .textAbout p {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 190%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout ul {
  list-style: none;
}
.page .textAbout ul li {
  font-family: Rubik;
  font-style: normal;
  align-items: baseline;
  display: flex;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #292929;
  margin-bottom: 40px;
}
.page .textAbout ul li:before {
  margin-right: 20px;
  content: '';
  display: inline-block;
  border-radius: 50%;
  min-width: 10px;
  width: 10px;
  height: 10px;
  background: #292929;
}
.page .container {
  width: 1450px;
  margin: auto;
}
.footer {
  padding: 0 40px;
  padding-top: 100px;
  display: flex;
  border-top: 1px solid #e5e5e5;
}
.footer__col {
  flex-basis: 25%;
}
.footer__col:nth-child(n + 2) {
  padding-left: 70px;
}
.footer__title {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 30px;
  display: block;
}
.footer__title + .footer__title {
  margin-bottom: 56px;
}
.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #292929;
  margin-bottom: 30px;
  display: block;
}
.footer__link + .footer__title {
  margin-top: 65px;
}
.footer__adress {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 118%;
  color: #292929;
  margin-bottom: 39px;
}
.footer__phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: block;
  line-height: 118%;
  color: #292929;
  margin-bottom: 77px;
}
.footer__inf {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 145%;
  color: #292929;
  margin-bottom: 77px;
}
.footer__inf span {
  font-weight: bold;
}
.footer__copy {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #9a9a9a;
}
.footer__social {
  display: flex;
  margin-bottom: 77px;
}
.footer__social__item {
  border: 1px solid #e5e5e5;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__item:nth-child(n + 2) {
  margin-left: 18px;
}
.bg_def {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.default-btn {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 47px;
  display: inline-block;
  border-radius: 23.5px;
  height: 47px;
  padding: 0 27px;
}
.default-btn.btn-gray {
  color: #292929;
  background: #ebebeb;
}
.default-btn.btn-gray:hover {
  background: #dddddd;
}
.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.icon-fb {
  width: 11px;
  height: 23px;
  background-image: url(../images/fb.svg);
}
.icon-vk {
  width: 26px;
  height: 15px;
  background-image: url(../images/vk.svg);
}
.icon-inst {
  width: 19px;
  height: 19px;
  background-image: url(../images/inst.svg);
}
.icon-pent {
  width: 15px;
  height: 19px;
  background-image: url(../images/pent.svg);
}
.icon-beh {
  width: 20px;
  height: 13px;
  background-image: url(../images/beh.svg);
}
.icon-phone {
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.svg);
}
@media (max-width: 1400px) {
  .header__search__wrapper {
    left: auto;
    right: 700px;
    transform: translate(50%, 0);
  }
  .header__search__wrapper.open {
    right: 50%;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
  .header__search__wrapper {
    display: none;
  }
  .header__mobileButs {
    display: flex;
  }
}
